<% layout("/layouts/boilerplate")%>
<video autoplay loop muted src="https://cdn.pixabay.com/video/2021/10/05/90877-629483574_tiny.mp4"></video>
<div class="row mt-3">
  <h2 style="color:white !important;"class="col-6 offset-3">SignUp on</h2>
  <div style="padding-left: 19rem; padding-top: 0rem;"class="company-name">
    <span style="color: #2aeb10e8 !important ;font-size:2rem;">G</span>
          <span style="color:#2aeb10e8 !important;">r</span>
          <span style="color:#2aeb10e8 !important;">e</span>
          <span style="color:#2aeb10e8 !important;">e</span>
          <span style="color:#2aeb10e8 !important;;">n</span>
          <span style="color:white !important;">G</span>
          <span style="color:white !important;">u</span>
          <span style="color:white !important;">a</span>
          <span style="color:white !important;">r</span>
          <span style="color:white !important;">d</span>
          <span style="color:white !important;">i</span>
          <span style="color:white !important;">a</span>
          <span style="color:white !important;">n</span>
          <span style="color:white !important;">s</span>
          <span style="color:white !important;">!</span>
   </div>
    <div class="col-6 offset-3">
      <form action="/signup" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
            <label style="color:#2aeb10e8 !important;" for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required/>
            <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
            <label style="color:#2aeb10e8 !important;" for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required/>
        </div>
        <div class="mb-3">
            <label style="color:#2aeb10e8 !important;" for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required/>
            <br>
            <button class="btn btn-success">SignUp</button>
        </div>
      </form>
    </div>
</div>