<style>
  *{
    font-family: system-ui, Arial, sans-serif;
  }
</style>
<nav  style="z-index:99; background-image:url(https://wallpaperaccess.com/full/8854340.png);object-fit: cover;" class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><image class="logo"style="height:40px; background-color:  rgb(241, 150, 32);" src="https://tse3.mm.bing.net/th?id=OIP.abdxP0HmrPOfcTzXIP2m3AHaHa&pid=Api&P=0&h=180"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <a class="nav-link"  href="/">Home</a>
            <a class="nav-link" href="/blogs">All Blogs</a>
            <a class="nav-link" href="/blogs/new">Create Blog</a>
            <a class="nav-link" href="/climateawareness">Climate Awareness</a>
            <a class="nav-link" href="/newsapi">Recent News</a>
            <a class="nav-link"  href="/petition1">Sign Petitions</a>
        </div>
        <div class="navbar-nav ms-auto">
          <%if(!currUser){%>
            <li class="profile-dropdown-list-item">
              <a class="nav-link"  href="/signup">SignUp</a>
            </li>
            <li class="profile-dropdown-list-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
             <%}%>
             <%if(currUser){%>
          <div class="profile-dropdown">
            <div class="profile-dropdown-btn" onclick="toggle()">
              <div class="profile-img">
                <i class="fa-solid fa-user"></i>
              </div>
              <span style="color:black">
                   <%=currUser.username%>
                <i class="fa-solid fa-angle-down"></i>
              </span>
            </div>
            <ul class="profile-dropdown-list">
            <li class="profile-dropdown-list-item">
              <a style="color:white;" href="#">
                <i class="fa-solid fa-user"></i>Edit Profile
              </a>
            </li>
            <li class="profile-dropdown-list-item">
              <a style="color:white;" href="#">
                <i class="fa-solid fa-sliders"></i>Settings
              </a>
            </li>
          <hr style=" border-top: 1px dashed rgba(78, 255, 47, 0.932);"/>
               <li class="profile-dropdown-list-item">
                <a style="color:white;" href="/logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>LogOut
                </a>
              </li>
            </ul>
          </div>
        <%}%>
      </div>
      </div>
    </div>
  </nav>
  <script src="/js/script.js"></script>