<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
    <link rel="stylesheet" href="/css/stylehome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div id="cursor"></div>
    <div id="cursor-blur"></div>

    
  </div>
  <div>
  <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><image class="logo"style="height:40px; background-color:  rgb(241, 150, 32);" src="https://tse3.mm.bing.net/th?id=OIP.abdxP0HmrPOfcTzXIP2m3AHaHa&pid=Api&P=0&h=180"></image></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="navbar-nav">
              <a class="nav-link" href="/blogs">Blogs</a>
              <a class="nav-link"  href="/fot">F.O.T.</a>
              <a class="nav-link"  href="/cp">Community Projects</a>
              <a class="nav-link"  href="/educationalhubs">Educational Hubs</a>
             <a class="nav-link" href="/petition1">Sign Petitions</a>          
            </div>
          <div class="navbar-nav ms-auto">
            <%if(!currUser){%>
              <li class="profile-dropdown-list-item">
                <a class="nav-link"  href="/signup">SignUp</a>
              </li>
              <li class="profile-dropdown-list-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
               <%}%>
               <%if(currUser){%>
            <div class="profile-dropdown">
              <div class="profile-dropdown-btn" onclick="toggle()">
                <div class="profile-img">
                  <i class="fa-solid fa-user"></i>
                </div>
                <span>
                     <p style="color:black;"><%=currUser.username%></p>
                  <i class="fa-solid fa-angle-down"></i>
                </span>
              </div>
              <ul class="profile-dropdown-list">
              <li class="profile-dropdown-list-item">
                <a href="#">
                  <i class="fa-solid fa-user"></i>Edit Profile
                </a>
              </li>
              <li class="profile-dropdown-list-item">
                <a href="#">
                  <i class="fa-solid fa-sliders"></i>Settings
                </a>
              </li>
              <hr style=" border-top: 1px dashed rgba(78, 255, 47, 0.932);"/>
                 <li class="profile-dropdown-list-item">
                  <a  href="/logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>LogOut
                  </a>
                </li>
              </ul>
            </div>
          <%}%>
        </div>
        </div>
        </div>
        </div>
      </div>
    </nav>
  
   
    <div id="cursor"></div>
    <div id="cursor-blur"></div>

   
    <video autoplay loop muted src="/images/green.mp4"></video>

    <div id="main">
      
        <div id="page1"></div>

        <div id="page2">
            <div id="scroller">
                <div id="scroller-in-1">
                    <h4>The Earth</h4>
                    <h4>is a great</h4>
                    <h4>place and worth</h4>
                    <h4>fighting</h4>
                    <h4>for!</h4>
                </div>
       
                <div id="about-us">
                  
                    <img src="/images/1.jpeg" alt="environment">
                    <div id="about-us-in">
                        <h3>ABOUT US</h3>
                        <p>Welcome to our sustainability initiative, a passion-driven project committed to
                           fostering a greener,<p> more sustainable future. 
                             Our team, consisting of four dedicated members Deepak,</p> <p>  Harshit, Vedang, and Divyansh – is united  by a shared vision of environmental </p><p>stewardship and community impact.</p>
                    </div>
                    <img src="/images/2.jpeg" alt="">
                </div>
                <!-- <div id="card-container">
                    <div class="card" id="card1">
                        <div class="overlay">
                            <h4>Harshit Maurya</h4>
                            <p>Passionate about sustainability, actively contributing to eco-friendly practices for a greener future.</p>
                        </div>
                    </div>
                    <div class="card" id="card2">
                        <div class="overlay">
                            <h4>Divyansh Kumar</h4>
                            <p>Passionate about sustainability, actively contributing to eco-friendly practices for a greener future.</p>
                        </div>
                    </div>
                    <div class="card" id="card3">
                        <div class="overlay">
                            <h4>Deepak Kalal</h4>
                            <p>Passionate about sustainability, actively contributing to eco-friendly practices for a greener future.</p>
                        </div>
                    </div>
                    <div class="card" id="card4">
                        <div class="overlay">
                            <h4>Vedang Dubey</h4>
                            <p>Passionate about sustainability, actively contributing to eco-friendly practices for a greener future.</p>
                        </div>
                    </div>
                </div> -->
                
                <div id="green-div">
                    <img
                      src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
                      alt=""
                    />
                    <h4>
                      SIGN UP FOR LATEST UPDATE STRAIGHT TO YOUR INBOX
                    </h4>
                    <img
                      src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg"
                      alt=""
                    />
            </div>
        </div>
        <div id="page3">
            
  
            <p>
                Living sustainably means understanding
                that we are all part of a global ecosystem,
                where every resource we consume impacts
                not only our immediate environment but
                the future health of our planet.
            </p>
            <img
              id="colon1"
              src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-left.svg"
              alt=""
            />
            <img
              id="colon2"
              src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/quote-right.svg"
              alt=""
            />
          </div>

        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/scripthome.js"></script>
    </div>
</body>
</html>