<% layout("/layouts/boilerplate.ejs")%>
<video autoplay loop muted src="https://cdn.pixabay.com/video/2021/10/05/90877-629483574_tiny.mp4"></video>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <br> </br>
    <h3 style="color:white !important;">Create a new Blog:</h3>
    <form method="POST" action="/blogs" novalidate class="needs-validation">
        <div class="mb-3">
            <label style="color:#2aeb10e8 !important;" for="title" class="form-label">Title:</label>
            <br>
            <input name="blog[title]" placeholder="enter title" class="form-control"/ required>
            <div class="invalid-feedback">Please enter a title!</div>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="invalid-feedback">Please enter a title!</div>
        <div class="mb-3">
            <label style="color:#2aeb10e8 !important;" for="blog" class="form-label">Blog Details:</label>
            <br>
            <textarea class="form-control" name="blog[blogs]" placeholder="Type your blog content" required></textarea>
            <div class="invalid-feedback">Please enter a short description!</div>
        </div>
        <div class="mb-3">
          <label  style="color:#2aeb10e8 !important;" for="author" class="form-label">Author:</label>
          <br>
          <input class="form-control" name="blog[author]" placeholder="type your name" type="text" required/>
          <div class="invalid-feedback">Please enter your name!</div>    
         </div>
        <div class="mb-3">
          <label  style="color:#2aeb10e8 !important;" for="image" class="form-label">Image Link:</label>
          <br>
          <input class="form-control" name="blog[image]"  placeholder="Enter image URL" type="text" required/>
        </div>
        <button class="edit-btn btn-dark mt-3">Add</button>
    </form>
    </div>
    </div>